$browser-context: 16;
$black: #2B2A2C;
$light: #818181;
$lightgray: #4f4f4f;
$white: #ffffff;
$green: #185f3d;
$arrow: #535454;
$red: red;
$bcolor: #2B2B2B;
$fcolor: #D3D3D3;
$accent-fcolor:#F2F2F2;
$fsize:20px;
$accent-fsize:26px;
$fline-hight:24px;
$accent-fline-hight:32px;
$header-fsize:52px;
$header-fline-hight:63px;
$pagination-color:white!important;
$pagination-bg: transparent!important;
$pagination-active-color:white!important;
$pagination-active-bg:transparent!important;
$pagination-active-border-color:white!important;
$pagination-border-color: transparent!important;
$pagination-hover-border-color: transparent!important;
$btn-border-radius-base:0!important;
$dark-color: #1B1919;
$bg-color: #201F30;
$font-color: #F2F2F2;
